* {
  padding: 0;
  margin: 0; }

h2, h1, h3 {
  font-family: 'Aclonica', sans-serif; }

p, a {
  font-family: '$Red Hat Display', sans-serif; }

h1 {
  color: red;
  font-size: 1.5em; }

h3 {
  color: red; }

ul {
  list-style-type: none; }

li a {
  text-decoration: none;
  font-size: 1.6em;
  color: red; }

main {
  grid-area: main;
  background-image: url(../img/fondo.png);
  background-position: 0px 0px;
  animation: animatedBackground 240s linear infinite;
  -moz-animation: animatedBackground 240s linear infinite;
  -webkit-animation: animatedBackground 240s linear infinite;
  -ms-animation: animatedBackground 240s linear infinite;
  -o-animation: animatedBackground 240s linear infinite; }

footer {
  background: #41ff64;
  background: linear-gradient(338deg, #41ff64 0%, #0d5500 100%);
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  grid-area: footer; }
  footer p, footer a {
    color: red;
    font-size: 1.6em; }

a:hover {
  color: red; }

.img-logo {
  width: 2em;
  height: 2em; }

.titulo-secundario {
  background: #41ff64;
  background: linear-gradient(338deg, #41ff64 0%, #0d5500 100%);
  color: red;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.8em; }

.categorias-productos {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .categorias-productos img {
    margin: 1em;
    width: 18em;
    height: 18em;
    transition: all 0.5s ease-in-out; }
    .categorias-productos img:hover {
      filter: opacity(85%); }

.producto {
  background-color: white;
  margin: 1em;
  padding: 0.5em;
  border-radius: 1em;
  border: solid 0.5em red;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out; }
  .producto img {
    width: 15em;
    height: 21em; }
  .producto p, .producto a {
    font-weight: bold;
    color: red; }
  .producto:hover {
    border: solid 0.5em #0d5500; }

.precio {
  color: #10e610; }

.whatsapp {
  width: 0em;
  height: 0em; }
  .whatsapp img {
    width: 0em;
    height: 0em;
    transition: all 0.2s ease-in-out; }
    .whatsapp img:hover {
      filter: brightness(1.75); }

.redes-sociales {
  margin: 1em;
  text-align: center;
  grid-area: redes; }
  .redes-sociales img {
    width: 4.9em;
    height: 4.9em;
    padding: 1em;
    transition: all 0.2s ease-in-out; }
    .redes-sociales img:hover {
      transform: rotate(360deg); }

.medios-de-pago {
  margin: 1em;
  grid-area: medios; }
  .medios-de-pago img {
    width: 6.1em;
    height: 4.6em;
    padding: 0.5em; }

.nav-footer {
  margin: 1em;
  grid-area: nav-footer; }
  .nav-footer ul li {
    padding: 0.5em;
    border-bottom: solid 0em red;
    transition: all 0.2s ease-in-out; }
    .nav-footer ul li:hover {
      border-bottom: solid 0.2em red; }

.copy {
  margin: 1em;
  grid-area: copy;
  text-align: center; }

.filtros {
  color: red;
  font-size: 1.3em;
  background-color: white;
  border: solid 0.2em red;
  border-radius: 2em;
  padding: 1em;
  grid-area: filtros; }

.productos {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  grid-area: productos; }

.negrita {
  font-weight: bold; }

.contenedor-informacion {
  background-color: white;
  margin: 1em;
  padding: 1em;
  border: solid 0.5em red;
  border-radius: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .contenedor-informacion h3 {
    padding: 1em; }

.video {
  background-color: white;
  margin: 1em;
  padding: 1em;
  border: solid 0.5em red;
  border-radius: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  grid-area: video; }

.faq {
  background-color: white;
  margin: 1em; }

.nuestras-ubicaciones {
  grid-area: nuestras-ubicaciones; }

.cede-principal {
  grid-area: cede-principal; }

.clientes {
  grid-area: clientes; }

.mayoristas {
  grid-area: mayoristas; }

.titulo-secundario {
  grid-area: titulo2; }

.nada {
  grid-area: nada; }

.sobre-nosotros-main-wrapper .contenedor-informacion {
  grid-area: historia; }

.index-main-wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.productos-main-wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.sobre-nosotros-main-wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.encontranos-main-wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.contacto-main-wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.faq-main-wrapper {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

#video-rick, #malvinas {
  width: 14em;
  height: 12em; }

@keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1600px 0; } }

@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1600px 0; } }

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1600px 0; } }

@-ms-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1600px 0; } }

@-o-keyframes animatedBackground {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -1600px 0; } }

@media screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-areas: "redes nav-footer" "medios medios" "copy copy"; }
  .whatsapp img {
    position: fixed;
    width: 3em;
    height: 3em;
    bottom: 3em;
    right: 3em; }
  .contenedor-informacion p, .contenedor-informacion a {
    align-self: flex-start; }
  .categorias-productos {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; } }

@media screen and (min-width: 1200px) {
  .categorias-productos img {
    width: 23em;
    height: 23em; }
  #video-rick, #malvinas {
    width: 28em;
    height: 22em; }
  #malvinas {
    width: 28em;
    height: 22em; } }
