@media screen and (min-width:768px) {

    footer {
        display: grid;
        grid-template-areas: 
        "redes nav-footer"
        "medios medios"
        "copy copy"
        ;
    }

    .whatsapp {
        img {
        position: fixed;
        @include size(3em, 3em);
        bottom: 3em;
        right: 3em;
        }
    }

    .contenedor-informacion {
        p {
        align-self: flex-start;
        }
    }

    .categorias-productos {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:1200px) {

    .categorias-productos {
        img {
            @include size(23em, 23em);
        }
    }

    
    #video-rick {
        @include size(28em, 22em);
    }

        
    #malvinas {
        @include size(28em, 22em);    
    }

}